@tailwind base;
@tailwind components;
@tailwind utilities;

.cta-base {
  @apply rounded-full bg-Cyan text-lg text-white font-bold capitalize grid place-items-center hover:saturate-150 duration-200;
}
.cta-secondary {
  @apply rounded-md bg-Cyan text-lg text-white font-bold capitalize grid place-items-center hover:saturate-150 duration-200;
}
.cta-tertiary {
  @apply rounded-md bg-Dark_Violet text-lg text-white font-bold capitalize grid place-items-center hover:saturate-150 duration-200;
}
.fade-in {
  animation: fadein 500ms ease-in-out;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.url-container {
  width: calc(100vw - 48px);
}
